body {
  background: url("../images/dust_scratches.png") repeat;
}

h2,
h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.bg-ryan {
  background-color: dodgerblue;
}

.text-ryan {
  color: dodgerblue;
}

/* main section take up 100% until 768 screen width when media query takes over */
main section {
  width: 100%;
}

#headshot {
  width: 100%;
}

/*
  These rules take effect when the browser's width
  is either 576px or more.
*/
@media screen and (min-width: 576px) {
  #headshot {
    max-width: 290px;
    max-height: auto;
  }
}

/*
  These rules take effect when the browser's width
  is either 768px or more.
*/
@media screen and (min-width: 768px) {
  main section {
    width: 735px;
    /* max-width: 75%; */
  }
}

/* Border sizing styles */
.border-3 {
  border-width: 3px !important;
}

.border-2 {
  border-width: 2px !important;
}
